header a {
    text-decoration: none;
    color: hsl(52, 97%, 60%);
  }

  header{
          background-color:thistle;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
  }

  body{
        color:teal;
        font-weight: bold;
        font-size: small;
  }
 header nav {
      margin: 7px 0;
  }

  header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
  }

  * {
    margin: 0;
    padding: 0;
  }

  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer section {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: #024e76;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  section {
    padding: 60px;
  }

  .hero1 {display: flex;
    justify-content: center;
    flex-wrap: wrap;
      background-image: url(https://static.fullstack-bootcamp.com/module-1/hero-bg.jpg);
      height:600px;
      background-size: cover;
      background-position: center;
  }

  .hero-form{
              color:#024e76 ;
              background-color:#fce138 ;
              padding: 20px;
              margin: 8px 70px 15px 40px;
              border: solid 3px #024e76;
              


  }

  .hero-form p {
    margin: 5px 0 15px 0;
  }

  .form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
  }

  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }

  .hero-form label {
    margin: 0 5px;
  }

  .hero-form button{
 background-color:#024e76 ;
 color: #fce138;
 padding: 15px 30px 15px 30px;
 border: none ;
 font-size: 16px;

  }

  .intro{
          text-align: center;
  }

  .intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
  }
  .intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }

  .contact-info{
                
  }
  