header a {
    text-decoration: none;
    color: hsl(52, 97%, 60%);
  }

  header{
          background-color:thistle;
  }

  body{
        color:teal;
        font-weight: bold;
        font-size: small;
  }
 header nav {
      float:right;
      margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 22px;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }

  * {
    margin: 0;
    padding: 0;
  }